*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties

build
captures
bin
gen
out
.directory
node_modules
android/mobile/release/*
ios.xcworkspace/

/iosApp/iosApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/iosApp/iosApp.xcworkspace/xcuserdata/*
/iosApp/Pods/Pods.xcodeproj/xcuserdata/*

# Private properties
/android/keystore.properties
/android/app/gymer_keystore
